<div class="main-content">
  <div class="cpr_header-section">
    <img src="../assets/images/apple-logo.png" alt="" />
    <span class="cpr_header-section_title">CPR</span>
  </div>
  <ng-container *ngIf="!deployed_on_prod">
    <div class="cpr_form-toggle">
      <div
        class="cpr_form-toggle_option"
        [ngClass]="{
          'cpr_form-toggle_option-active': development_phase === 'hf'
        }"
      >
        HF REQUEST
      </div>
      <div
        class="cpr_form-toggle_option"
        [ngClass]="{
          'cpr_form-toggle_option-active': development_phase === 'dev'
        }"
      >
        DEV/PROD/SRE APPROVAL
      </div>
      <div
        class="cpr_form-toggle_option"
        [ngClass]="{
          'cpr_form-toggle_option-active': development_phase === 'qa'
        }"
      >
        QA SIGNOFF
      </div>
      <div
        class="cpr_form-toggle_option"
        [ngClass]="{
          'cpr_form-toggle_option-active': development_phase === 'prod'
        }"
      >
        PROD DEPLOY
      </div>
    </div>
    <form [formGroup]="cprForm">
      <div *ngIf="development_phase === 'hf'" class="cpr_form-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter Request</mat-label>
          <input matInput formControlName="hf_request" />
        </mat-form-field>
        <div class="cpr_form-btn_container">
          <button type="submit" class="cpr_form-btn" (click)="hfSubmit()">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="development_phase === 'dev'" class="cpr_form-container">
        <div class="cpr_form-radiobtn">
          <span class="cpr_form-label">Dev : </span>
          <div>Approve<input type="radio" value="approve" formControlName="dev" /></div>
          <div>Decline<input type="radio" value="decline" formControlName="dev" /></div>
        </div>
        <div class="cpr_form-radiobtn">
          <span class="cpr_form-label">Prod : </span>
          <div>Approve<input type="radio" value="approve" formControlName="prod" /></div>
          <div>Decline<input type="radio" value="decline" formControlName="prod" /></div>
        </div>
        <div class="cpr_form-radiobtn">
          <span class="cpr_form-label">SRE : </span>
          <div>Approve<input type="radio" value="approve" formControlName="sre" /></div>
          <div>Decline<input type="radio" value="decline" formControlName="sre" /></div>
        </div>
        <div class="cpr_form-btn_container" style="margin-top: 2rem;">
          <button type="submit" class="cpr_form-btn" (click)="devSubmit()">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="development_phase === 'qa'" class="cpr_form-container" style="display: flex;align-items: center;">
        <span class="cpr_form-label">QA : </span>
        <div class="cpr_form-btn_container">
          <button
            type="button"
            class="cpr_form-btn_secondary"
            (click)="qaSubmit('sign_off')"
          >
            Sign Off
          </button>
          <button
            type="button"
            class="cpr_form-btn_secondary"
            (click)="qaSubmit('reject')"
          >
            Reject
          </button>
        </div>
      </div>
      <div *ngIf="development_phase === 'prod'" class="cpr_form-container">
        <div class="cpr_form-btn_container">
          <button
            type="button"
            class="cpr_form-btn_secondary"
            (click)="deployToProd()"
          >
            Deploy It To Prod
          </button>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="deployed_on_prod">
    <div class="cpr_request-deployed">
      <h1 class="cpr_request-deployed_heading">Deployed on prod!</h1>
      with below request
      <div class="cpr_request-deployed_data">{{ hf_request | json }}</div>
    </div>
  </ng-container>
</div>
